.additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}
.full-width-field{
    width: 100%;
}

.filter-wrapper{
    .btn-filter-update{
        width: 100%;
        padding: 10px;
    }
}

.chart-view-wrapper{
    display: flex;
    justify-self: start;
    .mat-button-toggle{
        width: 100%;
        ::ng-deep .mat-button-toggle-button{
            .mat-button-toggle-label-content{
                line-height: 54px;
            }
        }
    }
}

::ng-deep .ng-dropdown-panel{
    .ng-dropdown-header{
        padding: 0 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        button{
            font-size:12px;
        }
    }
}

.datatable-wrapper{
    overflow: auto;
    height: 400px;
}
.search-wrapper{
    ::ng-deep .mat-form-field-wrapper{
        margin:10px 0 0 10px;
        padding:0;
        .mat-form-field-flex{
            .mat-form-field-infix{
                padding:10px 0;
            }
        }
    }
}