<vex-secondary-toolbar current="Satış Raporu">
     <vex-breadcrumbs [crumbs]="['Raporlar', 'Satış Raporu']" class="flex-auto"></vex-breadcrumbs>
</vex-secondary-toolbar>

<div class="p-gutter" gdColumns="1fr" gdColumns.lt-md="1fr 1fr" gdColumns.lt-sm="1fr" gdGap="16px" vexContainer>

     <!-- Filter -->
     <mat-card class="max-w-full">
          <mat-card-content>

               <div class="p-gutter filter-wrapper" gdColumns="1fr 1fr 1fr 1fr" gdColumns.lt-md="1fr 1fr"
                    gdColumns.lt-sm="1fr" gdGap="16px" vexContainer>

                    <div>
                         <ng-select appearance="outline" [items]="coordionatorList" [multiple]="true"
                              bindLabel="koordinatorAdi" bindValue="koordinatorId" placeholder="Koordinatörlük"
                              [(ngModel)]="filter.koordinatorIdList">
                              <ng-template ng-header-tmp>
                                   <button
                                        (click)="selectAll('koordinatorIdList', 'coordionatorList','koordinatorId')">Tümünü
                                        Seç</button>
                                   <button (click)="unselectAll('koordinatorIdList')">Tüm Seçimleri Kaldır</button>
                              </ng-template>
                              <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                   <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                        <span class="ng-value-label">{{item.koordinatorAdi}}</span>
                                        <span class="ng-value-icon right" (click)="clear(item)"
                                             aria-hidden="true">×</span>
                                   </div>
                                   <div class="ng-value" *ngIf="items.length > 1">
                                        <span class="ng-value-label">+{{items.length - 1}} seçildi...</span>
                                   </div>
                              </ng-template>
                         </ng-select>
                    </div>

                    <div>

                         <ng-select appearance="outline" [items]="districtList" [multiple]="true" bindLabel="bolgeAdi"
                              bindValue="bolgeId" placeholder="Bölge" [(ngModel)]="filter.bolgeIdList">
                              <ng-template ng-header-tmp>
                                   <button (click)="selectAll('bolgeIdList', 'districtList','bolgeId')">Tümünü
                                        Seç</button>
                                   <button (click)="unselectAll('bolgeIdList')">Tüm Seçimleri Kaldır</button>
                              </ng-template>
                              <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                   <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                        <span class="ng-value-label">{{item.bolgeAdi}}</span>
                                        <span class="ng-value-icon right" (click)="clear(item)"
                                             aria-hidden="true">×</span>
                                   </div>
                                   <div class="ng-value" *ngIf="items.length > 1">
                                        <span class="ng-value-label">+{{items.length - 1}} seçildi...</span>
                                   </div>
                              </ng-template>
                         </ng-select>

                    </div>

                    <div>
                         <ng-select appearance="outline" [items]="warehouseList" [multiple]="true" bindLabel="depoAdi"
                              bindValue="depoId" placeholder="Çıkış Depo" [(ngModel)]="filter.cikisDepoIdList">
                              <ng-template ng-header-tmp>
                                   <button (click)="selectAll('cikisDepoIdList', 'warehouseList','depoId')">Tümünü
                                        Seç</button>
                                   <button (click)="unselectAll('cikisDepoIdList')">Tüm Seçimleri Kaldır</button>
                              </ng-template>
                              <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                   <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                        <span class="ng-value-label">{{item.depoAdi}}</span>
                                        <span class="ng-value-icon right" (click)="clear(item)"
                                             aria-hidden="true">×</span>
                                   </div>
                                   <div class="ng-value" *ngIf="items.length > 1">
                                        <span class="ng-value-label">+{{items.length - 1}} seçildi...</span>
                                   </div>
                              </ng-template>
                         </ng-select>
                    </div>

                    <div>

                         <ng-select appearance="outline" [items]="warehouseList" [multiple]="true" bindLabel="depoAdi"
                              bindValue="depoId" placeholder="Varış Depo" [(ngModel)]="filter.varisDepoIdList">
                              <ng-template ng-header-tmp>
                                   <button (click)="selectAll('varisDepoIdList', 'warehouseList','depoId')">Tümünü
                                        Seç</button>
                                   <button (click)="unselectAll('varisDepoIdList')">Tüm Seçimleri Kaldır</button>
                              </ng-template>
                              <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                   <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                        <span class="ng-value-label">{{item.depoAdi}}</span>
                                        <span class="ng-value-icon right" (click)="clear(item)"
                                             aria-hidden="true">×</span>
                                   </div>
                                   <div class="ng-value" *ngIf="items.length > 1">
                                        <span class="ng-value-label">+{{items.length - 1}} seçildi...</span>
                                   </div>
                              </ng-template>
                         </ng-select>

                    </div>

                    <div>
                         <ng-select appearance="outline" [items]="deliveryTypeList" [multiple]="true"
                              bindLabel="teslimatTipiAdi" bindValue="teslimatTipiId" placeholder="Teslimat Tipi"
                              [(ngModel)]="filter.teslimatTipiIdList">
                              <ng-template ng-header-tmp>
                                   <button
                                        (click)="selectAll('teslimatTipiIdList', 'deliveryTypeList','teslimatTipiId')">Tümünü
                                        Seç</button>
                                   <button (click)="unselectAll('teslimatTipiIdList')">Tüm Seçimleri Kaldır</button>
                              </ng-template>
                              <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                   <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                        <span class="ng-value-label">{{item.teslimatTipiAdi}}</span>
                                        <span class="ng-value-icon right" (click)="clear(item)"
                                             aria-hidden="true">×</span>
                                   </div>
                                   <div class="ng-value" *ngIf="items.length > 1">
                                        <span class="ng-value-label">+{{items.length - 1}} seçildi...</span>
                                   </div>
                              </ng-template>
                         </ng-select>

                    </div>

                    <div>

                    </div>

                    <div>
                         <mat-button-toggle-group #chartViewBtnGroup="matButtonToggleGroup" class="chart-view-wrapper">
                              <mat-button-toggle checked value="1">Günlük</mat-button-toggle>
                              <mat-button-toggle value="2">Aylık</mat-button-toggle>
                         </mat-button-toggle-group>
                    </div>

                    <div>
                         <button mat-flat-button color="primary" class="btn-filter-update"
                              (click)="filterUpdate()">GÜNCELLE</button>
                    </div>

               </div>

          </mat-card-content>
     </mat-card>

     <mat-card class="max-w-full">
          <mat-card-content>

               <vex-chart #reportChart [options]="chartReportOptions" [series]="chartReportSeries"></vex-chart>

          </mat-card-content>
     </mat-card>

     <mat-card class="max-w-full p-0">
          <mat-card-content>

               <mat-form-field class="search-wrapper" appearance="outline">
                    <mat-label>Ara</mat-label>
                    <input matInput (keyup)="applyTableFilter($event)">
               </mat-form-field>

               <div class="datatable-wrapper">
                    <table mat-table [dataSource]="dataSourceReportList" class="w-full">

                         <ng-container matColumnDef="day">
                              <th mat-header-cell *matHeaderCellDef> Gün </th>
                              <td mat-cell *matCellDef="let element"> {{element.day}} </td>
                         </ng-container>

                         <ng-container matColumnDef="month">
                              <th mat-header-cell *matHeaderCellDef> Ay </th>
                              <td mat-cell *matCellDef="let element"> {{element.month}} </td>
                         </ng-container>

                         <ng-container matColumnDef="lastYearNetKargo">
                              <th mat-header-cell *matHeaderCellDef> Geçen Yıl Net Kargo </th>
                              <td mat-cell *matCellDef="let element"> {{element.lastYearNetKargo | currency:"TRY":"symbol"}}</td>
                         </ng-container>

                         <ng-container matColumnDef="currentYearNetKargo">
                              <th mat-header-cell *matHeaderCellDef> Bu Yıl Net Kargo </th>
                              <td mat-cell *matCellDef="let element"> {{element.currentYearNetKargo | currency:"TRY":"symbol"}}</td>
                         </ng-container>

                         <ng-container matColumnDef="lastYearPXP">
                              <th mat-header-cell *matHeaderCellDef> Geçen Yıl PXP </th>
                              <td mat-cell *matCellDef="let element"> {{element.lastYearPXP | currency:"TRY":"symbol"}}</td>
                         </ng-container>

                         <ng-container matColumnDef="currentYearPXP">
                              <th mat-header-cell *matHeaderCellDef> Bu Yıl PXP </th>
                              <td mat-cell *matCellDef="let element"> {{element.currentYearPXP | currency:"TRY":"symbol"}}</td>
                         </ng-container>

                         <ng-container matColumnDef="lastYearTotal">
                              <th mat-header-cell *matHeaderCellDef> Geçen Yıl Toplam </th>
                              <td mat-cell *matCellDef="let element"> {{element.lastYearTotal | currency:"TRY":"symbol"}}</td>
                         </ng-container>

                         <ng-container matColumnDef="currentYearTotal">
                              <th mat-header-cell *matHeaderCellDef> Bu Yıl Toplam </th>
                              <td mat-cell *matCellDef="let element"> {{element.currentYearTotal | currency:"TRY":"symbol"}}</td>
                         </ng-container>

                         <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    </table>
               </div>
               <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="25"></mat-paginator>
          </mat-card-content>
     </mat-card>

</div>